:root {
    --primary: #fff;
    --secondary: black;
  }
  
  .btn {
    padding: 8px 20px;
    border-radius: 2px;
    outline: none;
    cursor: pointer;
  }
  
  .btn--primary {
    background-color: var(--primary);
    color: #242424;
    border: 1px solid var(--primary);
  }
  
  .btn--outline {
    background-color: red;
    color: var(--primary);
    /* padding: 8px 20px; */
    border: 1px solid red;
    box-shadow: 2px 2px 15px 2px rgb(0 0 0 / 25%);
    border-radius: 4px;
    transition: all 0.3s ease-out;
  }
  
  .btn--medium {
    padding: 8px 20px;
    font-size: 18px;
  }
  
  .btn--large {
    padding: 12px 26px;
    font-size: 20px;
  }

  .btn--pedidos{
    border-radius: 5px;
    border: 1px solid transparent;
    margin: 0;
    padding: 0;
    font-size: 28px;
    width: 100%;
    height: 45px;
  }

  @media screen and (max-width: 960px) {
    .btns{
      background-color: red;
      color: white;
    }
    .btn--large{
      padding: 0;


    }
    .btn--large,
    .pedido{
      border: transparent;
      background-color: red;
      color: white;
      height: 100%;
      width: 100%;
      font-size: 2rem;
      letter-spacing: 2px;
      border-radius: 4px;
      /* box-shadow: 0px 0px 20px 5px rgb(0 0 0 / 25%); */
      box-shadow: 20px 23px 59px -11px rgba(0,0,0,0.85);
      -webkit-box-shadow: 20px 23px 59px -11px rgba(0,0,0,0.85);
      -moz-box-shadow: 20px 23px 59px -11px rgba(0,0,0,0.85);
      /* transition: all 0.3s ease-out; */
    }


  
  }