:root{
    --button-primary: #24293e;
    --button-secondary: #3b415a;
}

.btn--primary{
    background-color: var(--button-primary);
    color: rgb(255, 255, 255);
    border-radius: 25px;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.7px;
    display: flex;
    align-items: baseline;
}
.button-arrow-two{
    display: none !important;
}
.btn--primary:hover .button-arrow-one{
    display: none;
}
.btn--primary:hover .button-arrow-two{
    display: block !important;
}
.btn--primary:hover{
    cursor: pointer;
    background-color: var(--button-secondary);
}
.btn--medium{
    padding-left: 15px;
    padding-right: 5px;
    max-height: 2rem;
}
