:root{
    --shadow: #8d7e2a;
}
.earth{
    display: block;
    width: 11rem;
    height: 11rem;
    background: url('../icons/earth.png');
    border-radius: 50%;
    background-size: cover;
    box-shadow: inset 0 0 20px var(--shadow),
                      0 0 20px var(--shadow);
                      animation: animateEarth 20s linear infinite;
                      animation: rotationEarth 20s linear infinite;          
}
@keyframes animateEarth {
    0%{background-position : 0;}
    100%{background-position: 162.5%;}
}
@keyframes rotationEarth {
    0%{background-position: 0;}
    7.5555%{background-position: 0;}
    26.3055%{background-position: 45%;}
    52.7777%{background-position: 45%;}
    69.4444%{background-position: 90%;}
    75.0000%{background-position: 90%;}
    85.4166%{background-position: 130%;}
    86.1111%{background-position: 130%;}
    100%{background-position: 0;}
}

