.hero {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100vw;
  min-height: 100vh;
  position: relative;
}
/* HERO HEADER               */
.hero-header-title{
  width: 570px;
  height: auto;
  position: absolute;
  top: 180px;
  left: 100px;
  color: #1e1e20;
  z-index: 1000;
}
.hero-header-title .hero-header-subtitle{
  margin-top: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  color: hsl(240, 3%, 12%, 1);
  line-height: 2rem;
}
.hero-header-title .hero-header-info{
  margin-top: 1rem;
  letter-spacing: 0.4px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 300;
  width: max-content;
}
.hero-header-title .whatsapp-component a{
  color: #2997ff;
}
.hero-header-title .whatsapp-component a:hover{
  text-decoration: underline;
}
.hero-header-info .whatsapp-component a{
  display: flex;
  align-items: baseline;
}
.whatsapp-component a{
  text-decoration: none;
}

/* GRADIENT                  */
.hero-header-container .gradient{
  transform: skew(0, -12deg);
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: -42%;
  left: 0;
}

/* CHECKOUT                  */
.checkout-container{
  position: absolute;
  top: 80px;
  right: 5px;
  border-radius: 5px;
  box-shadow: inset 0 1px 1px 0 hsl(0deg 0% 100% / 10%), 0 50px 100px -20px rgb(50 50 93 / 25%), 0 30px 60px -30px rgb(0 0 0 / 30%);
  z-index: 1000;
}
