@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.hero {
  width: 100vw;
  height: 100vh;
  margin: auto;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
}
.hero .slides-container {
  display: flex;
  text-align: center;
  width: 100%;
  position: relative;
  z-index: 999;
}
.hero .slides-container .images {
  width: 100%;
}

/* AQUÍ EMPIEZA EL CENTRO */
.hero .slides-container span{
  font-family: 'Poppins', sans-serif;
  font-size: 80px;
  font-weight: 400;
  color: #fff;
}
.hero .slides-container .lang{
  position: absolute;
  font-stretch: condensed;
  font-weight: 900px;
  font-size: 250px;
  font-family: 'Dela Gothic One', cursive;
  margin-top:7px;
}
@keyframes animate-slide{

  0%{transform: translateX(0);}
  7.5555%{transform: translateX(0);}
  26.3055%{transform: translateX(-100vw);}
  52.7777%{transform: translateX(-100vw);}
  69.4444%{transform: translateX(-200vw);}
  75.0000%{transform: translateX(-200vw);}
  85.4166%{transform: translateX(-100vw);}
  86.1111%{transform: translateX(-100vw);}
  100%{transform: translateX(0);}
}
.slide1{
  position: relative;
  z-index: 100;
  animation-name: animate-slide;
  animation-duration: 6000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.slide2{
  position: relative;
  z-index: 200;
  animation-name: animate-slide;
  animation-duration: 6000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.slide3{
  position: relative;
  z-index:300;

    animation-name: animate-slide;
    animation-duration: 6000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.es{
  color: #81cada;
  margin-left: auto;
  margin-right: auto;
  left: -6%;
  right: 0;
  text-align: center;
  z-index: 110;
  animation-name: animate-es;
  animation-duration: 6000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes animate-es {
  0%{transform: scale(0.7, 0.6)}
  7.5555%{transform: translateX(0) scale(0.7, 0.6);}
  26.3055%{transform: translateX(100vw) scale(0.7, 0.6);}
  52.7777%{transform: translateX(100vw) scale(0.7, 0.6);}
  69.4444%{transform: translateX(50vw) scale(0.7, 0.6);}
  75.0000%{transform: translateX(50vw) scale(0.7, 0.6);}
  85.4166%{transform: translateX(100vw) scale(0.7, 0.6);}
  86.1111%{transform: translateX(100vw) scale(0.7, 0.6);}
  100%{transform: scale(0.7, 0.6);}
}
.en{
  color: #ffb794;
  margin-left: auto;
  margin-right: auto;
  left: 112%;
  right: 0;
  text-align: center;
  z-index: 210;
  animation-name: animate-en;
  animation-duration: 6000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes animate-en {
  0%{transform: scale(0.7, 0.6)}
  7.5555%{transform: translateX(0) scale(0.7, 0.6);}
  26.3055%{transform: translateX(-100vw) scale(0.7, 0.6);}
  52.7777%{transform: translateX(-100vw) scale(0.7, 0.6);}
  69.4444%{transform: translateX(50vw) scale(0.7, 0.6);}
  75.0000%{transform: translateX(50vw) scale(0.7, 0.6);}
  85.4166%{transform: translateX(-100vw) scale(0.7, 0.6);}
  86.1111%{transform: translateX(-100vw) scale(0.7, 0.6);}
  100%{transform: scale(0.7, 0.6);}
}
.de{
  color: #4a58db;
  left: 204%;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  z-index: 310;

  animation-name: animate-de;
  animation-duration: 6000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes animate-de{
  0%{transform: translateX(0) scale(0.7, 0.6);}
  7.5555%{transform: translateX(0) scale(0.7, 0.6);}
  26.3055%{transform: translateX(-100vw) scale(0.7, 0.6);}
  52.7777%{transform: translateX(-100vw) scale(0.7, 0.6);}
  69.4444%{transform: translateX(-200vw) scale(0.7, 0.6);}
  75.0000%{transform: translateX(-200vw) scale(0.7, 0.6);}
  85.4166%{transform: translateX(-100vw) scale(0.7, 0.6);}
  86.1111%{transform: translateX(-100vw) scale(0.7, 0.6);}
  100%{transform: translateX(0) scale(0.7, 0.6);}
}

/* PIE-BASE-BUTTOM */
.pie-container{
display: flex;
width: 100%;
height: 80%;
justify-content: center;
align-items: center;
position: absolute;
left: 0;
top:62%;
z-index: 1000;
}
.pie0{
  width: 85%;
}

/* BUTTON */
.hero-btns{
  margin-top: 32px;
  position: absolute;
  right: 15%;
  bottom: 4%;
  z-index: 1002;
  width: 200px;
}

/* MENSAJE */

.hero .hero-message .message{
  position: absolute;
  left: 15%;
  bottom: 4%;
  z-index: 1002;
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
}
.message .message-info{
  margin-left: 7rem;
}
.whatsapp_float{
  width: 50px;
  height: 100px;
}
.whatsapp-icon{
  position: absolute;
  left: 0;
  top: -2rem;
  color: #52ce5f;
  background-color: #e9e9e9;
  border-radius: 5px;
}
/* .hero .hero-message .whatsapp-link{
  color: black;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
} */
.whatsapp_float{
  width: 50px;
  height: 50px;
}
.hero .hero-message .whatsapp-info{
  margin-left: 10px;
}

@media screen and (max-width: 960px) {
  .hero {
    height: 100vh;
    width: auto;
    margin: auto;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
  }
  .hero .slides-container {
    display: flex;
    text-align: center;
    height: 100%;
    position: relative;
    z-index: 999;
  }
  .hero .slides-container .images {
    width: 100%;
  }

  .es{
    color: #81cada;
    margin-left: auto;
    margin-right: auto;
    left: -50%;
    right: 0;
    text-align: center;
    z-index: 110;
    animation-name: animate-es;
    animation-duration: 6000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  @keyframes animate-es {
    0%{transform: scale(0.2, 0.4)}
    7.5555%{transform: translateX(0) scale(0.2, 0.4);}
    26.3055%{transform: translateX(100vw) scale(0.2, 0.4);}
    52.7777%{transform: translateX(100vw) scale(0.2, 0.4);}
    69.4444%{transform: translateX(50vw) scale(0.2, 0.4);}
    75.0000%{transform: translateX(50vw) scale(0.2, 0.4);}
    85.4166%{transform: translateX(100vw) scale(0.2, 0.4);}
    86.1111%{transform: translateX(100vw) scale(0.2, 0.4);}
    100%{transform: scale(0.2, 0.4);}
  }
  .en{
    color: #ffb794;
    margin-left: auto;
    margin-right: auto;
    left: 111%;
    right: 0;
    text-align: center;
    z-index: 210;
    animation-name: animate-en;
    animation-duration: 6000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  @keyframes animate-en {
    0%{transform: scale(0.2, 0.4)}
    7.5555%{transform: translateX(0) scale(0.2, 0.4);}
    26.3055%{transform: translateX(-100vw) scale(0.2, 0.4);}
    52.7777%{transform: translateX(-100vw) scale(0.2, 0.4);}
    69.4444%{transform: translateX(50vw) scale(0.2, 0.4);}
    75.0000%{transform: translateX(50vw) scale(0.2, 0.4);}
    85.4166%{transform: translateX(-100vw) scale(0.2, 0.4);}
    86.1111%{transform: translateX(-100vw) scale(0.2, 0.4);}
    100%{transform: scale(0.2, 0.4);}
  }
  .de{
    color: #4a58db;
    left: 201%;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    z-index: 310;

    animation-name: animate-de;
    animation-duration: 6000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  @keyframes animate-de{
    0%{transform: translateX(0) scale(0.2, 0.4);}
    7.5555%{transform: translateX(0) scale(0.2, 0.4);}
    26.3055%{transform: translateX(-100vw) scale(0.2, 0.4);}
    52.7777%{transform: translateX(-100vw) scale(0.2, 0.4);}
    69.4444%{transform: translateX(-200vw) scale(0.2, 0.4);}
    75.0000%{transform: translateX(-200vw) scale(0.2, 0.4);}
    85.4166%{transform: translateX(-100vw) scale(0.2, 0.4);}
    86.1111%{transform: translateX(-100vw) scale(0.2, 0.4);}
    100%{transform: translateX(0) scale(0.2, 0.4);}
  }

  /* PIE-BASE-BUTTOM */
    .pie-container{
    display: flex;
    width: 100%;
    height: 10rem;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top:85%;
    z-index: 1000;
    }
    .pie0{
      /* display: none; */
      visibility: hidden;
    }
    .hero-message .message-info{
      display: none;
    }
    .hero-btns{
      height: 3.5rem;
      width: 80vw;
      position: absolute;
      left: 10%;
      bottom: 3%
    }
    .whatsapp-info{
      visibility: hidden;
    }
    .whatsapp-cell{
      width: 20vw;
      position: absolute;
      left: 10%;
      bottom: 17%;
      z-index: 100000;
    }
    
}
