*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.call-to-action{
    
    height: 50px;
    width: 150px;
    border-radius: 8px;
    background: white;
    color: black;
    box-shadow: 2px 2px 15px 2px rgb(0 0 0 / 17%);
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    letter-spacing: 1.5px;
    font-weight: bold;
    position: relative;
    display: grid;
    place-items: center;
}

.call-to-action::after,
.call-to-action::before {
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    background: white;
    left: 88%;
}

.call-to-action::before {
    top: 10%;
    transform: skew(45deg, 0);
}

.call-to-action::after {
    bottom: 10%;
    transform: skew(-45deg, 0);
}

.whatsapp-container {
    /* border: solid red 2px; */
    width: 180px;
    position: relative;
}

.whatsapp-container .icon-container .whatsapp-icon{
    border-radius: 50%;
    height: 80px;
    width: auto;
    box-shadow: 2px 2px 15px 2px rgb(0 0 0 / 17%);
    position: absolute;
    top: -25%;
    left: 100%;
}